.fade-slide-exit-active {
  animation: sectionExit 0.3s ease-in forwards;
}

.fade-slide-enter-active {
  animation: sectionExit 0.3s ease-in reverse;
}

@keyframes sectionExit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.hidden {
  opacity: 0;
}

.display {
  opacity: 1;
  transition: all 0.4s ease-in;
}

.green {
  background: linear-gradient(to right, #c33764, #1d2671);
}
