.fade-slide-exit {
  animation: sectionExit 0.3s ease-in forwards;
}

@keyframes sectionExit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
  }
}

.hidden {
  opacity: 0;
}

.display {
  opacity: 1;
  transition: all 0.4s ease-in;
}

.green {
  background-color: green;
}

.nocolor {
  background-color: white;
  transition: background-color 0.4s ease-in;
}
